.cart-main-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.cart-container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .clear-cart {
    background: white; 
    color: #246FB6;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    cursor: pointer;
    margin: 1rem 1rem 0;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    font-weight: bold;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .cart-content {
    display: flex;
  }
  
  .cart-items {
    flex: 2;
  }
  
  .cart-item {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    margin: 1rem;
    gap: 20px;
  }
  
  .book-image {
    max-width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 20px;
  }
  
  .bookcart-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bookcart-details h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
  }
  
  .bookcart-details p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  p.available {
    color: #28a745; 
    font-weight: bold;
  }
  
  p.not-available {
    color: #d9534f; 
    font-weight: bold;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;

    span{
        color: #757575;
    }
  }
  
  .quantity-controls button {
    border: none;
    background: #ddd;
    padding: 4px 5px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .quantity-controls button:hover {
    background: #ccc;
  }
  
  .book-price {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
    align-self: flex-end;
    margin: 0;
  }
  
  .cart-summary {
    flex: 1;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    text-align: center;
    margin: 1rem;
    height: max-content;
  }
  
  .cart-summary h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
  }
  
  .cart-summary p {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .checkout-btn {
    background: #ffcc00;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .checkout-btn:hover {
    background: #e6b800;
  }
  