.order-details-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;

    p {
        color: black;
    }

  }
  
  .order-details-content {
    display: flex;
    gap: 20px;
    margin: 20px auto;
    max-width: max-content;
  }
  
  .order-items {
    flex: 2;
    background: white;
    border-radius: 8px;
  }
  
  .order-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
  }
  
  .order-item-image {
    width: 80px;
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .order-item-info p {
    font-size: 14px;
    color: #333;
    margin: 3px 0;
  }
  
  .order-summary {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    text-align: center;
    max-height: max-content;
  }
  
  .order-summary h3 {
    font-size: 18px;
    color: #333;
  }
  
  .order-summary p {
    font-size: 14px;
    color: #666;
  }
  
  .cancel-button {
    background: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .cancel-button:hover {
    background: #c9302c;
  }
  